body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 20px;
    margin: 0;
    background: #000;
}

a {
  color: #fff;
}

h1 {
    margin: 0 0 20px 0;
}

#map {
    width: 100%;
    height: 500px;
}

#map-container {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.report {
    margin-left: -13px;
    margin-top: -13px;
    width: 26px;
    height: 26px;
}

.report img {
    border: none !important;
}

.report:hover {
    z-index: 1000;
}

#map canvas {
            transition-property: opacity;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
        -ms-transition-property: opacity;
         -o-transition-property: opacity;

            transition-duration: .6s;
    -webkit-transition-duration: .6s;
       -moz-transition-duration: .6s;
        -ms-transition-duration: .6s;
         -o-transition-duration: .6s;

            transition-delay: .1s;
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
        -ms-transition-delay: .1s;
         -o-transition-delay: .1s;

    opacity: 0;
}

#map canvas.active {
    opacity: 1;
}