h1, h2, h3, h4 {
/*   font-family: 'Museo Slab 500', Helvetica, Arial, sans-serif;; */
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

/*
@font-face{ 
	font-family: 'Museo Slab 500';
	src: url('../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.eot');
	src: url('../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.eot?iefix') format('eot'),
	     url('../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.woff') format('woff'),
	     url('../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.ttf') format('truetype'),
	     url('../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.svg#webfont') format('svg');
}
*/
#popup {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  background: rgba(0,0,0, 0.5);
  width: 100px;
  height: 200px;
  padding: 10px;
  color: #fff;
}


/* @TODO load newplay map v1 css, or change it. */
#panel-container {
  position: fixed;
  top: 48px;
  right: 0;
  z-index: 1000;
  background: rgba(0,0,0, 0.7);
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  color: #fff;
}

#filter-container {
  position: fixed;
  left: 0px;
  z-index: 2000;
  background: rgba(0,0,0, 0.7);
  width: 100px;
  height: 200px;
  padding: 10px;
  color: #fff;
}


dl {
  margin: 0;
  padding: 0;
}

dt {
  text-transform: uppercase;
  padding: 0;
  margin: 1em 0 5px 0;
}

dd {
  padding: 0;
  margin: 5px 0 1em 0;
}

#play-journey {
  z-index: 100;
  pointer-events:none;
}
#play-markers {
  z-index: 400;
}
#artist-markers {
  z-index: 80;
}
#organization-markers {
  z-index: 60;
}
#events-markers {
  z-index: 90;
}