/*
Font Names

font-family:'Avenir LT W01 55 Roman';
font-family:'AvenirLTW01-55Oblique';
font-family:'Avenir LT W01 85 Heavy';

Colors
Red: #BF202E
Tan: #E6DAC8
Light tan: #F1EDE6
(headers in overlay for example)
*/

h1, h2, h3, h4 {
  font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a:hover {
  color: #BF202E;
}

/* Override Bootstrap Defaults */
body,
p,
input,
button,
select,
textarea {
  font-family: 'Avenir LT W01 55 Roman', Helvetica, Arial, sans-serif;
}

strong, b {
  font-family: 'Avenir LT W01 85 Heavy';
  font-weight: normal;
}

em, i {
  font-family: 'AvenirLTW01-55Oblique';
  font-style: normal;
}

.sidebar-nav {
  padding: 9px 0;
}

.count {
  font-size: 80%;
  line-height: 1em;
  height: 200px;
  overflow-y: hidden;
  padding: 5px;

}

.count p {
  opacity: 0.5;
}
.count:nth-child(-n+3) p {
  opacity: 1;
}

#popup {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  background: rgba(0,0,0, 0.5);
  width: 100px;
  height: 200px;
  padding: 10px;
  color: #fff;
}


ul.dropdown-menu {
  z-index: 2100;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  text-transform: uppercase;
  padding: 0;
  margin: 1em 0 5px 0;
}

dd {
  padding: 0;
  margin: 5px 0 1em 0;
}

.marker {
  cursor: pointer;
}

.marker[type=play] {
  z-index: 100;
}

.marker[type=event] {
  z-index: 80;
}

.marker[type=artist] {
  z-index: 60;
}

.marker[type=organization] {
  z-index: 40;
}

#play-journey svg {
/* pointer-events:  none; */
}

#map-container .ts-map .zoomer {
  width: 28px;
  height: 28px;
  top: 80px;
  left: 10px;
}

#map-container .ts-map .zoomin {
  background-position: -31px -1px;
  left: 39px;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
}

#map-container .ts-map .zoomout {
  background-position: -61px -1px;
  border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
}

#map-container .ts-map .wax-attribution {
  z-index: 900; /* Keep this below the loading overlay */
}

/* Override spotlight.css*/
#map {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 375px;
  padding: 5px;
  font-size: 80%;
}


/* Panel styles */
#panel-container {
  position: fixed;
  top: 48px;
  right: 0;
  z-index: 1000;
  background-color: #E6DAC8;
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  color: #000;
}

#panel-container #panel .content {
  margin: 10px;
}

#filter-container {
  display: none;
}

div#panel-container div.journey {
  visibility: hidden;
}

div#panel-container div#panel {
/*   visibility: hidden; */
}

ul#panel-content-links {
  list-style: none outside none;
  margin: 10px 0;
}

  ul#panel-content-links li {
    float: left;
    font-size: 0.8em;
    margin-right: 10px;
  }
    
    ul#panel-content-links li a {
      text-decoration: none;
    }
    
    ul#panel-content-links li a:hover {
      text-decoration: underline;
      color: #BF202E;
    }
  
  ul#panel-content-links li.panel-add-link a {
    background-color: #BF202E;
    color: #FFFFFF;
    border-radius: 9px;
    padding: 8px;
  }
  
    ul#panel-content-links li.panel-add-link a:hover {
      text-decoration: none;
      background-color: #FFFFFF;
      color: #000000;
    }
    
ul#share-links-list {
  list-style: none;
  margin-left: 0;
}

  ul#share-links-list li {
    margin-bottom: 5px;
  }
  
  ul#share-links-list li form {
    margin: 0;
  }
  
  ul#share-links-list a {
    background: no-repeat left center;
    padding-left: 22px;
  }
  
    ul#share-links-list a#share-facebook {
      background-image: url(../images/share-icon-facebook.png);
    }

    ul#share-links-list a#share-twitter {
      background-image: url(../images/share-icon-twitter.png);
    }

    ul#share-links-list a#share-link {
      background-image: url(../images/share-icon-link.png);
    }
    
    ul#share-links-list input#share-code {
      display: none;
      width: 180px;
    }

    ul#share-links-list a#embed-link {
      background-image: url(../images/share-icon-badge.png);
    }
    
    ul#share-links-list input#embed-code {
      display: none;
      width: 180px;
    }

  
article.panel-content-info {
  clear: both;
  padding-top: 10px;
}

ul.ui-autocomplete {
  width: 335px;
  max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
/*  padding-right: 20px; */
}

#loading-feedback {
  background: url('../images/throbber.gif') no-repeat center center rgba(0,0,0,0.25);
  z-index: 2000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*
  Filters
 * Override jQuery UI styles
 */
.ui-tabs {
  padding: 0;
}

#filters .filter-tab {
  font-size: 0.7em;
}

#filters .ui-corner-all {
  border-radius: 0;
}

#filters .ui-widget-header {
  border: none;
  background-color: #BF202E;
  background-image: none;
}

#filters .ui-widget-content {
  border: none;
}

  #filters #explore-plays .ui-widget-content {
    border: 2px solid #EEEEEE;
  }
  
  #filters #explore-plays .ui-corner-all {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }

#filters .filter-seperator {
  border-top: 1px solid #CCCCCC;
}

#filters .filter-seperator-text {
  background-color: #FFFFFF;
}

#filters a.show-all-link {
  color: #BF202E;
}

/* Results styles */
#panel-container .results-container ol li,
#panel-container .results-container ol.results li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}
  
  #panel-container .results-container ol li.active,
  #panel-container .results-container ol.results li.active {
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
  }

  #panel-container .results-container ol.results p {
    font-size: 80%;
  }
  
  #panel-container .results-container .results-title {
    background-color: #F1EDE6;
    padding-left: 10px;
  }
  
    #panel-container .results-container .results-title h2 {
      display: inline;
      padding-left: 25px;
    }
    
      #panel-container .results-container .results-title h2#generative-artists-results-title {
        background: url("../images/filter-select-icon-artists.png") no-repeat 0 center;
      }
      
      #panel-container .results-container .results-title h2#events-results-title {
        background: url("../images/filter-select-icon-events.png") no-repeat 0 center;
      }
      
      #panel-container .results-container .results-title h2#organizations-results-title {
        background: url("../images/filter-select-icon-orgs.png") no-repeat 0 center;
      }

/* Bubble styles */
.bubble {
  background-color: rgba(0,0,0,0.75);
  color: #FFFFFF;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

/* Header styles */
/* Header buttons */
/* Additional default button style in Misc styles */
#header-bar {
  padding: 5px;
}

  #header-links {
    font-size: 0.8em;
    width: 400px;
    float: left;
  }

    #header-links a {
      text-decoration: underline;
      color: #FFFFFF;
      padding: 0 5px;
    }
  
      #header-links a:hover {
        color: #000000;
      }
    
      .navbar .nav .active > a,
      .navbar .nav .active > a:hover {
        background-color: transparent;
      }
    
    #header-links .brand {
    }
    
      #header-links a.brand {
        text-decoration: none;
      }
    
    #header-links .reset-map {
      background: url("../images/map-white-on-red.png") no-repeat;
      display: block;
      width: 79px;
      height: 50px;
      float: left;
      text-indent: -500px;
    }
  #header-buttons-wrapper {
    width: 30%;
    float: left;
    margin-top: 6px;
  }
  
    #header-buttons {
      margin: auto;
    }

      #header-buttons li {
        background-color: #FFFFFF;
        color: #BF202E;
        border-radius: 8px;
        margin-right: 10px;
      }

        #header-buttons > li > a {
          text-shadow: none;
        }

        #header-buttons a#add_button,
        #header-buttons a#filter_button,
        #header-buttons a#invite_button,
        #header-buttons a#explore-filters-button {
          padding: 6px 9px;
          cursor: pointer;
        }

        #header-buttons a#add_button span,
        #header-buttons a#invite_button span,
        #header-buttons a#explore-filters-button span {
          padding-left: 24px;
          background-position: 0 50%;
          background-repeat: no-repeat;
        }

        #header-buttons a#add_button span { 
          padding-left: 20px;
          background-image: url(../images/header-add-icon.png);
        }
  
          #header-buttons a#add_button:hover span { 
            background-image: url(../images/header-add-icon-active.png);
            color: #000000;
          }

        #header-buttons a#invite_button span {
          background-image: url(../images/header-icon-invite.png);
        }

        #header-buttons a#explore-filters-button span {
          padding-left: 26px;
          background-image: url(../images/header-explore-icon.png);
        }
  
          #header-buttons a#explore-filters-button:hover span {
            background-image: url(../images/header-explore-icon-active.png);
            color: #000000;
          }

  #header-register a {
    color: #FFFFFF;
    text-decoration: underline;
  }
