 
  {
  "id":"{{jsonize(cells["Business Num"].value)}}",
  "type":"Feature",
  "geometry": {
    "type":"Point",
    "coordinates": [{{jsonize(cells["longitude"].value)}},{{jsonize(cells["latitude"].value)}}]
    },
  "properties": {
      "Business Num" : {{jsonize(cells["Business Num"].value)}},
      "Company Name" : {{jsonize(cells["Company Name"].value)}},
      "Location Addr Line 1" : {{jsonize(cells["Location Addr Line 1"].value)}},
      "address" : {{jsonize(cells["address"].value)}},
      "longitude" : {{jsonize(cells["longitude"].value)}},
      "latitude" : {{jsonize(cells["latitude"].value)}},
      "Location Addr Line 2" : {{jsonize(cells["Location Addr Line 2"].value)}},
      "Location City" : {{jsonize(cells["Location City"].value)}},
      "Location State" : {{jsonize(cells["Location State"].value)}},
      "Location Zip" : {{jsonize(cells["Location Zip"].value)}},
      "Mail Addr Line 1" : {{jsonize(cells["Mail Addr Line 1"].value)}},
      "Maiil Addr Line 2" : {{jsonize(cells["Maiil Addr Line 2"].value)}},
      "Mail City" : {{jsonize(cells["Mail City"].value)}},
      "Mail State" : {{jsonize(cells["Mail State"].value)}},
      "Mail Zip" : {{jsonize(cells["Mail Zip"].value)}},
      "Owner Name" : {{jsonize(cells["Owner Name"].value)}},
      "Co-Owner Name" : {{jsonize(cells["Co-Owner Name"].value)}},
      "Attn To" : {{jsonize(cells["Attn To"].value)}},
      "Start Date" : {{jsonize(cells["Start Date"].value)}},
      "Employee Count" : {{jsonize(cells["Employee Count"].value)}},
      "BIA Type" : {{jsonize(cells["BIA Type"].value)}},
      "BIA Zone" : {{jsonize(cells["BIA Zone"].value)}},
      "Business Type" : {{jsonize(cells["Business Type"].value)}}
      }
  }
  
  
  
    {
  "id":"{{jsonize(cells["node - Event ID"].value)}}",
  "type":"Feature",
  "geometry": {
    "type":"Point",
    "coordinates": [{{jsonize(cells["node - Longitude"].value)}},{{jsonize(cells["node - Latitude"].value)}}]
    },
  "properties": {
      "longitude" : {{jsonize(cells["node - Longitude"].value)}},
      "latitude" : {{jsonize(cells["node - Latitude"].value)}},
      "event_id" : {{jsonize(cells["node - Event ID"].value)}},
      "event_type" : {{jsonize(cells["node - Event type"].value)}},
      "event_to_date" : {{jsonize(cells["node - To Date"].value)}},
      "event_date" : {{jsonize(cells["node - Date"].value)}},
      "content_type" : {{jsonize(cells["node - Content Type"].value)}},
      "related_theater" : {{jsonize(cells["node - Related Theater"].value)}},
      "related_theater_id" : {{jsonize(cells["node - Related Theater ID"].value)}},
      "artist_id" : {{jsonize(cells["node - Artist ID"].value)}},
      "play_title" : {{jsonize(cells["node - Play title"].value)}},
      "related_play_id" : {{jsonize(cells["node - Related Play ID"].value)}},
      "generative_artist" : {{jsonize(cells["node - Generative Artist"].value)}},
      "event_description" : {{jsonize(cells["node - Event description"].value)}},
      "synopsis" : {{jsonize(cells["node - Synopsis"].value)}},
      }
  }
  
  
  
      {
      "logo" : {{jsonize(cells["node - Logo"].value)}},
      "path" : {{jsonize(cells["node - Path"].value)}},
      "organization_id" : {{jsonize(cells["node - Org ID"].value)}},
      "name" : {{jsonize(cells["node - Org name"].value)}},
      "latitude" : {{jsonize(cells["node - Latitude"].value)}},
      "longitude" : {{jsonize(cells["node - Longitude"].value)}},
      "mission_statement" : {{jsonize(cells["node - Mission statement"].value)}},
      "ensemble_collective" : {{jsonize(cells["node - Ensemble collective"].value)}},
      "founding_date" : {{jsonize(cells["node - Founding date"].value)}},
      "organization_type" : {{jsonize(cells["node - Organization type"].value)}},
      "organization_type_2" : {{jsonize(cells["node - Organization type - 2"].value)}},
      "organization_type_1" : {{jsonize(cells["node - Organization type - 1"].value)}},
      "organization_type_3" : {{jsonize(cells["node - Organization type - 3"].value)}},
      "organization_type_4" : {{jsonize(cells["node - Organization type - 4"].value)}},
      "organization_type_5" : {{jsonize(cells["node - Organization type - 5"].value)}}
    }
